body {
  font-family: 'Sarabun', sans-serif;
}

/**
 * HELPER
 */

.Text-Decoration-None {
  text-decoration: none !important;
}

.News__Col {
  display: table-cell;
}

.News__Image--second {
  background: url('../images/2.jpg');
}

.News__Image--third {
  background: url('../images/3.jpg');
}

.News__Image--fourth {
  background: url('../images/4.jpg');
}

.News__Image--fifth {
  background: url('../images/5.jpg');
}

.News__Image--sixth {
  background: url('../images/6.jpg');
}

.News__Image--seventh {
  background: url('../images/7.jpg');
}

.News__Image--eighth {
  background: url('../images/8.jpg');
}

.News__Image--ninth {
  background: url('../images/9.jpg');
}

.News__Image--tenth {
  background: url('../images/10.jpg');
}

.News__Image--eleventh {
  background: url('../images/11.jpg');
}

.News__Image--twelveth {
  background: url('../images/12.jpg');
}

.News__Image {
  height: 150px;
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
}

.Sticky-Post {
  max-height: 500px;

  &__Card-Deck {
    &__Card {
      &--mb {
        margin-bottom: 15px !important;
      }

      &--bi {
        background-size: 0%;
      }

      &__Card {
        &-Body {
          color: dark;
        }

        &-Footer {
          color: dark;
          background-color: transparent;
          border-top: 0;
        }
      }
    }
  }
}



.Category-Section {
  &__Card-Deck {
    &__Card {
      &__Card-Image-Top {
        &__Image {
          &__Background {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
          }
        }
      }
    }
  }
}

/**
 * TEMPLATE-PARTS/PAGINATION.PHP
 */
.Pagination {
  & ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    & li {
      list-style-type: none;
      padding: 1rem 0.5rem;

      & span.current {
        background: #343a40;
        font-weight: bolder;
        color: #fff;
        padding: 1rem;
      }

      & a {
        text-decoration: none;
        color: #343a40;
        font-weight: bold;
        padding: 1rem;

        &:hover {
          background: #6c757d;
          color: #fff;
        }
      }
    }
  }
}

/**
 * POST
 */
.Post {
  &__Title {
    &__Anchor {
      color: #000;

      &:hover,
      &:visited {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 768px) {

  /* OVERRIDE BOOTSTRAP 4 */
  .Sticky-Post {
    &__Card-Deck {
      &__Card {
        &__Second-Part {
          width: 100% !important;
        }

        &--mb {
          margin-bottom: 0 !important;
        }

        &--bi {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &__Card {
          &-Body {
            color: white;
          }

          &-Footer {
            color: white;
            background-color: transparent;
            border-top: 0;
          }
        }
      }
    }

    &__Hot-News {
      &__List {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:first-child {
          border-radius: 0;
        }

        &:last-child {
          border-radius: 0 !important;
        }
      }

      &__Header {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.5));
      }
    }
  }

  /**
 * POST
 */
  .Post {
    &__Title {
      &__Anchor {
        color: #fff !important;

        &:hover {
          color: #fff !important;
        }
      }
    }
  }
}